// Fonts
$font: 'Inter', sans-serif;

// Breakpoints
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';

// Colors
$color1: #0c9898;
$color2: #371e56;
$color3: #463758;
$color4: #2bc4c3;
$color5: #6b5d7b;
$color6: #5e6d84;