@import "../../variables.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;

    &--message {
      span {
        color: $color6;
      }

      strong {
        color: $color2;
      }
    }

    &--action {
      button {
        width: 100%;
        max-width: 300px;
        padding: 0;
        border: 0;
        border-radius: 48px;
        background-color: $color4;
        font-size: 16px;
        font-weight: 700;
        line-height: 48px;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}